*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.carttitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
table .cart_img img{
    width: 100%;
}
table{
    border: 1px solid black;
    width: 1200px;
}
.total{
    text-align: center;
    display: flex;
    border: 1px solid black;
    width: 1200px;
    margin-top: 10px;
}